<div class="share">
    <p>
        Share
    </p>
    <ul>
        <li class="ml-1 mr-1">
<a target="_blank" href="https://www.instagram.com/junspapa_chris/" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <i class="fab fa-instagram"></i>
        </a>
        </li>

        <li class="ml-1 mr-1">
        <a target="_blank" href="https://facebook.com/bitjjangi" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
        <i class="fab fa-facebook-f"></i>
        </a>
        </li>

        <li class="ml-1 mr-1">
        <a target="_blank" href="https://cv.papajun.xyz" onclick="window.open(this.href, 'facebook-google', 'width=550,height=435');return false;">
        <i class="fal fa-file"></i>
        </a>
        </li>

<li class="ml-1 mr-1">
<a target="_blank" href="https://www.linkedin.com/in/chris-lee-b6a00520/" onclick="window.open(this.href, 'linkedin', 'width=550,height=435');return false;">
        <i class="fab fa-linkedin"></i>
    </a>
</li>

<li class="ml-1 mr-1">
<a target="_blank" href="http://blog.papajun.xyz/chris/cv/" onclick="window.open(this.href, 'resume', 'width=550,height=435');return false;">
        <i class="fal fa-newspaper"></i>
    </a>
</li>

    </ul>
    {% if page.comments != false %}
    <div class="sep">
    </div>
    <ul>
        <li>
        <a  class="small smoothscroll" href="#disqus_thread"></a>
        </li>
    </ul>
    {% endif %}
</div>