<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://hyundai.co.kr/automotive/validate/" version="1.0" viewmodes="maximized">
  <name>HKMC Automotive APIs Internal tests</name>
  <access origin="*"/>
  <author>Chris Kwangil Lee</author>
  <description> This is compliance test cases for automotive APIs. </description>
  <license href="http://www.hyundai.co.kr/"> HKMC all rights reserved </license>
  <!-- <feature name="http://hyundai.com/api/hvac"/> -->
  
  <feature name="http://wacapps.net/api/pim.calendar"/>
  <feature name="http://wacapps.net/api/pim.task"/>
  <feature name="http://wacapps.net/api/filesystem"/>
  <feature name="http://wacapps.net/api/messaging"/>
  <feature name="http://wacapps.net/api/devicestatus"/>
  <feature name="http://wacapps.net/api/deviceinteraction"/>
  <feature name="http://www.w3.org/TR/geolocation-API/"/>
  <feature name="http://hyundai.com/api/info"/>
  <feature name="http://hyundai.com/api/hvac"/>
  <feature name="http://hyundai.com/api/drive"/>
  <feature name="http://hyundai.com/api/status"/>
  <feature name="http://hyundai.com/api/application.navigation"/>
  <feature name="http://hyundai.com/api/application.bluetooth"/>
  <feature name="http://hyundai.com/api/traffic"/>
</widget>
